<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    {% load static %}
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Amadon Store!</h1>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in all_products %}
                <tr>
                    <form action="/purchase" method="post">
                        {% csrf_token %}
                        <td>{{product.description}}</td>
                        <td><input type="hidden" name="id" value="{{product.id}}">{{product.price}}</td>
                        <td><select name="quantity">
                            <option value="1">1</option>              
                            <option value="2">2</option>              
                            <option value="3">3</option>              
                        </select>
                    </td>
                        <input type="hidden" name="id" value={{product.id}}>
                        <td><input type="submit" value="Buy!"></td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>