<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    {% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}" media="screen" title="no title"  charset="utf-8">

</head>
<body>
    <header>
        <h1>Ninja Gold</h1>
        <a href="/reset"><button>Reset</button></a>
    </header>
    <h3>Your Gold: <input type="text" disabled value="{{request.session.gold}}"></h3>
    <div id="buildings">
        <div>
            <h1>Farm</h1>
            <p>(earns 10-20 golds)</p>
            <form action="/gold" method="post">
                {% csrf_token %}
                <input type="hidden" name="building" value="farm">
                <button>Find Gold!</button>
            </form>
        </div>
        <div>
            <h1>Cave</h1>
            <p>(earns 5-10 golds)</p>
            <form action="/gold" method="post">
                {% csrf_token %}
                <input type="hidden" name="building" value="cave">
                <button>Find Gold!</button>
            </form>
        </div>
        <div>
            <h1>House</h1>
            <p>(earns 2-5 golds)</p>
            <form action="/gold" method="post">
                {% csrf_token %}
                <input type="hidden" name="building" value="house">
                <button>Find Gold!</button>
            </form>
        </div>
        <div>
            <h1>Casino</h1>
            <p>(earns/takes 0-50 golds)</p>
            <form action="/gold" method="post">
                {% csrf_token %}
                <input type="hidden" name="building" value="casino">
                <button>Find Gold!</button>
            </form>
        </div>
    </div>
    <h2>Activities</h2>
    <div id="activities">
    {% for activity in request.session.activities reversed %}
        <p class="{{ activity.result}}">{{ activity.message }}</p>
    {% endfor %}
    </div>
</body>
</html>